body {
    display: flex;
    flex-direction: row;
    height:100%;
    margin:0;
    background-color: rgb(225, 225, 225);
}

.sidebar {
    flex: 0 0 15%;
    height: 100vh;
    background-color: rgb(211, 211, 211);
}

a {
    color: black;
}

.category {
    background-color: rgb(200, 200, 200);
}

.sidebartitle {
    margin: 5% 0;
}

.content {
    flex-direction: column;
    text-align: center;
    width: 85%;
    align-items: flex-start;
}

.content table {
    width: 100%;
    flex-direction: column;
}

.trackimg {
    width: 100%;
    height: 35vh;
}

#logo {
    width:100%;
}

.title {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.lbs {
    height: 90%;
}

.lb {
    vertical-align: top;
    width: 16.6666666667%;
}

.lb1, .lb4 {
    background-color: #c5d8f3;
}

.lb2, .lb5 {
    background-color: #feebc8;
}

.lb3, .lb6 {
    background-color: #fbc5d4;
}

.trackpanel {
    vertical-align: top;
}